<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}welcom{% endblock %}</title>
        <link rel="icon" href="https://th.bing.com/th/id/OIP.3N8kzgXaLBtiwps_tpMCXAAAAA?rs=1&pid=ImgDetMain">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
       <link rel="stylesheet" href={{asset("css/style.css")}}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" ><img class="logo" src="https://th.bing.com/th/id/R.dc49eac8101ab7ee66e8b9a103a9e8fe?rik=phlZ7XJakpKXSw&riu=http%3a%2f%2fclipart-library.com%2fnewhp%2f115-1158039_boxing-glove-clipart-png-download-boxing-gloves-clipart.png&ehk=WrHNsPcUNrA6%2bIIGcutqKEVla2tkaa2VWdcoodVQ4C8%3d&risl=&pid=ImgRaw&r=0" alt="fstgaming" style="width: 50px; height: auto; ">BoXing Stor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{url('app_ecommerce')}}" >Home</a>
                            </li>
                            {% if app.user %}
                                    {% if app.user and   'ROLE_ADMIN'in app.user.roles %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{url('app_ordres_admin_affichage')}}" >OrdersValidation</a>
                                </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="{{url('app_admin_controle')}}" >Product</a>
                                        </li>
                                    {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{url('app_ordres_affichage')}}" >Orders</a>
                                </li>
                            {% endif %}
                            <div class="dropdown d-flex ms-auto me-2">
                                <button class="btn btn-danger rounded-circle mx-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="tl9">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" width="30px"
                                         viewBox="0 0 448 512"><path d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7H162.5c0 0 0 0 .1 0H168 280h5.5c0 0 0 0 .1 0H417.3c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2H224 204.3c-12.4 0-20.1 13.6-13.7 24.2z"/></svg>
                                </button>
                                <ul class="dropdown-menu" >
                                    <li><a class="dropdown-item" href="{{ path('app_login')}}" >LogIn</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">LogOut</a></li>
                                    <hr>
                                    <li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>

                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock  navbar %}
        {% block body %}
        {% endblock  body %}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function  deleteitem (id){
                    Swal.fire(
                        {
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!",}
                        ).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById(id).submit();
                        }
                    });
                }
            </script>
        {% endblock  javascripts %}
    </body>

</html>
